@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<style>
    #categoryBtn-Container {
        display: flex;
        flex-direction: row;

    }

    #editBtn {
        width: 110px;
        color: white;
        background-color: black;
    }

    #deleteBtn {
        width: 110px;
        color: black;
        background-color: white;
        border: solid black 1px;
    }
</style>
<div class="container p-3" style="display:flex;flex-direction:row;">
    <a id="backBtn" asp-area="Customer" asp-controller="Home" asp-action="Index" style="text-decoration:none;margin-top:5px;margin-left:-15px;" class="text-black">
        <i class="bi bi-arrow-left"></i>Back
    </a>

    <h3 class="text-dark" style="margin-left:30px;">Category List</h3>

    <a asp-controller="Category" asp-action="Create" id="createCategoryBtn" class="btn" style="width:225px;border-radius:0px;background-color:black;color:white;">
        <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
    </a>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Category
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr style="">
                <td class="align-middle" style="width:10%;">
                    @obj.Id
                </td>
                <td class="align-middle" style="width:45%;">
                    @obj.Name
                </td>
                <td style="width:15%;" class="align-middle">
                    <div id="categoryBtn-Container" >
                        <a id="editBtn" class="btn  mx-2" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                        <a id="deleteBtn" class="btn  mx-2" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"><i class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>