@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Your Account";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
@*<style>
    #accountContainer {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        width: 1700px;
        margin-left: -200px;
    }

    #sidePanel-Account {
        overflow:hidden;
        height: 710px;
        width: 300px;
    }

    #accountContainer-Info {
        border-left: 2px solid black;
        padding: 15px;
        height: 790px;
        width: 1400px;
    }


    #delete-user {
        padding: 20px;
        overflow: hidden;
        width: 640px;
    }

    #inputFieldDelete-Container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    #fieldsProfile-Container {
        width: 600px;
    }

    #delete-profile-button {
        width: 450px;
        padding-bottom: 10px;
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #sidePanel-Text{
        font-size:20px;
        margin-top:10px;
    }
    #logBtn{
        margin-top:500px;

    }
    #logout-TextBtn{
        font-size:20px;
        padding:5px;
        background-color:white;
        width:250px;
    }
</style>
*@
<style>
    #inputFieldDelete-Container {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    #delete-profile-button {
        background-color: red;
        color: white;
    }
</style>
<div id="accountContainer" class="container-fluid" >

    <div id="accountContainer-Info" style="width:600px;">
        <h2 class="text-dark">@ViewData["Title"]</h2>
        <div>
            <form id="delete-user" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="alert alert-warning" role="alert" style="height:70px;">
                    <p>
                        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                    </p>
                </div>
                @if (Model.RequirePassword)
                {
                    <div id="inputFieldDelete-Container" class="form-floating" style="width:600px;">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                        <label asp-for="Input.Password" class="form-label"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                }
                <button id="delete-profile-button" class="btn  " type="submit">Delete data and close my account</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
