@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity;
@using PotsAndPans.Utility
@inject IHttpContextAccessor HttpContextAccesor

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pots & Pans.com</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/css/dataTableCustom-Themes.css" rel="stylesheet" />
    <link href="~/scss/bootstrap.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Responsive.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/KitchenWear.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" hrefl="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <style>
        #ContainerDeviceSize_ImgBg{
            background-image: url('images/pots-pans-Background.jpg');
            height: 600px;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        #ContainerDeviceSize_NotAvialable{
            display: flex;
            flex-direction: row;

            background-color: white;
            width: 600px;
            padding: 20px;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        #smartphone_tabletIcons{
            width: 130px;
            height: 130px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <header class="hideContent">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pots & Pans.com</a>
                @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="OrderManagement" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
                                @await Component.InvokeAsync("ShoppingCart")
                            </a>
                        </li>
@*                         @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                                    @UserManager.GetUserName(User)
                                </a>
                            </li>
                        }*@

                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

        <button class="open-button" onclick="openForm()">User Details</button>

    <div class="form-popup" id="myForm">
        <h4>User Details</h4>
         <form action="" class="form-container"  >
       
               <p>User Login Details</p>
               
               <div class="copyInputButton">
                     <span class="placeHolderUserDetails-Data">
                         Email:<input type="text" value="User@PotsAndPans.com" id="myInputEmail" class="myInput" style="border: none;" disabled>
                     </span>
                     <div class="copyIcon">
                          <span id="" class="myTooltip CopiedEmail">Copy</span>
                          <i id="EmailDetailsCopy" class="bi bi-clipboard-check"></i >
                     </div>
               </div>

               <div class="copyInputButton">
                     <span class="placeHolderUserDetails-Data">
                         Password:<input type="text" value="User1234!" id="myInputPassword" class="myInput" style="border: none;" disabled>
                     </span>
                     <div class="copyIcon">
                          <span id="" class="CopiedPassword">Copy</span>
                          <i id="PasswordDetailsCopy" class="bi bi-clipboard-check"></i >
                     </div>
               </div>

               <p style="margin-top:15px;">Stripe Test Card Details </p>
               <p>You can use any Email, Name on card and Postal Code</p>

               <div class="copyInputButton">
                     <span class="placeHolderUserDetails-Data">
                         Visa:<input type="text" value="4000056655665556" id="myInputPayPalGBEmail" class="myInput" style="border: none;" disabled>
                     </span>
                     <div class="copyIcon">
                          <span id="" class="myTooltip CopiedPayPalEmail">Copy</span>
                          <i id="EmailPayPalGBDetailsCopy" class="bi bi-clipboard-check"></i >
                     </div>
               </div>


  <div class="copyInputButton">
                     <span class="placeHolderUserDetails-Data">
                         DATE:<input type="text" value="1256" id="myInputPayPalUSEmail" class="myInput" style="border: none;" disabled>
                     </span>
                     <div class="copyIcon">
                          <span id="" class="myTooltip CopiedPayPalUSEmail">Copy</span>
                          <i id="EmailPayPalUSDetailsCopy" class="bi bi-clipboard-check"></i >
                     </div>
               </div>     

                <div class="copyInputButton">
                     <span class="placeHolderUserDetails-Data">
                         CVC:<input type="text" value='248' id="myInputPayPalGBPassword" class="myInput" style="border: none;" disabled>
                     </span>
                     <div class="copyIcon">
                          <span id="" class="myTooltip CopiedPayPalGBPassword">Copy</span>
                          <i id="PasswordPayPalGBDetailsCopy" class="bi bi-clipboard-check"></i >
                     </div>
               </div>
               <br>
               <a href="Download/UserDetails.txt" download="UserDetails">Download User Details</a>

               <button type="button" class="btn btn-danger cancelUserDetail" onclick="closeForm()" style="margin-top:20px;">Close</button>
       
         </form>
    </div>

    <div class="hideContent container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
    
    <div id="ContainerDeviceSize_ImgBg">
             <div id="ContainerDeviceSize_NotAvialable">             
             
                 <img id="smartphone_tabletIcons" src="Images/smartphone-tablet_Icons.png">
             
                 <div id="ContainerDeviceSize_MSG">
                       <h4>Sorry but the device you are using is not accessible to Pots & Pans.com</h4>
                       <P>Please use a laptop or desktop device to access the website<br>
            the <b>Pots & Pans.com</b> Tech Department is working hard to make <b>Pots & Pans.com
            aviable on the andriod and IOS App stores</b></p>
                 </div>   
                 
             </div>
    </div>

    <footer class="hideContent footer border-top  text-muted">
        <div class="container">
            &copy; 2022 - Pots & Pans.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js" integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
