@model int
<style>
    #countCircle{
        border-radius:100%;
        font-size:10px;
        overflow:hidden;
        width:15px;
        height:15px;
        /*border:solid 1px black;*/
        background-color:white;
        position:absolute;
         margin-left:-8px;
         margin-top:-6px;
    }
</style>
Basket <i class="bi bi-basket3-fill" style="font-size:12px;"></i><span id="countCircle" class="text-center pb-1">@Model</span>